/* ОБНУЛЕНИЕ СТИЛЕЙ */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* * {
    border: 1px red solid;
} */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Poppins";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */


/* HEADER */

.header {
    width: 100%;
    max-width: 1440px;
    height: 90px;
    background-color: #181818;
}

.header__item {
    display: flex;
    justify-content: space-around;
}

.header__title {
    font-size: 30px;
    color: #fff;
    margin: 30px 0 29px 152px;
}

.header__link {
    display: flex;
    font-size: 13px;
    color: #fff;
}

.header__link a {
    padding-top: 35px;
    margin-right: 35px;

}

.header__button {
    display: flex;
    align-items: center;
    width: 155px;
    height: 42px;
    background-color: #fff;
    border-radius: 10px;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
}

.container {
    /* position: relative; */
    background: url("images/bgr.jpg") no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding: 0 0 70px 0; */
}


.section {
    width: 580px;
    height: 180px;
    margin-bottom: 50px;

}

.section__title {
    font-size: 14px;
    color: #C0C0C0;
    text-align: center;
    margin-bottom: 1px;
}

.section__subtitle {
    font-size: 54px;
    color: #fff;
    text-align: center;
    margin-bottom: 18px;
}

.section__text {
    font-size: 14px;
    color: #C0C0C0;
    text-align: center;
    line-height: 20px;
}

.logo {
    position: absolute;
    bottom: -110px;
    width: 100%;
    max-width: 1440px;
    height: 45px;
    padding-right: 45px;
}

.logo__bloc {
    text-align: right;
}

.logo__content {
    display: inline-flex;
    margin-right: 16px;

}

.logo__icon {
    margin-right: 6px;
}

.logo__info {
    color: #fff;
}

/* WHAT */

.what__wrapper {
    width: 100%;
    max-width: 1440px;
    height: 1558px;
    background-color: #000000;
}

.what__title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 0 0 13px 0;
    padding: 100px 0 0 0;
}

.what__subtitle {
    font-size: 23px;
    color: #fff;
    text-align: center;
    margin-bottom: 42px;
}

.what__content {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    margin-top: 8px;
    padding-top: 8px;

}

.what__img {
    position: relative;
    padding: 0 8px 0 0;
    margin: 0 8px 0 0;
}

.what__caption {
    position: absolute;
    font-size: 14px;
    color: #fff;
    top: 421px;
    left: 30px;
}

.what__text {
    position: absolute;
    font-size: 14px;
    color: #C0C0C0;
    line-height: 20px;
    top: 451px;
    left: 30px;
    right: 45px;
}

.what__btn {
    position: absolute;
    display: flex;
    top: 528px;
    left: 30px;
    width: 143px;
    height: 42px;
    background-color: #fff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 15px;
    line-height: 20px;
    background-color: #fff;
}

/* BLOC */

.photo {
    position: relative;
    width: 100%;
    max-width: 1440px;
}

.bloc__photo img {
    width: 100%;
    max-width: 1440px;
}

.photo__content {
    position: absolute;
    width: 300px;
    height: 80px;
    top: 260px;
    right: 62px;
}

.photo__title {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.photo__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #C0C0C0;
}

.photo__logo {
    position: absolute;
    bottom: 60px;
    padding-right: 45px;
    right: 0;
}

/* GEAR */

.gear__wrapper {
    width: 100%;
    max-width: 1440px;
    height: 540px;
    display: inline-flex;
}

.gear__info-bgr {
    position: relative;
    width: 50%;
    background-color: #000;
}

.gear__info-bloc {
    width: 514px;
    height: 314px;
    margin: 173px 100px 215px 80px;
}

.gear__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.gear__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    margin-bottom: 14px;
}

.gear__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 20px;
    width: 514px;
    height: 80px;
}

.gear__btn {
    position: absolute;
    display: flex;
    width: 143px;
    height: 42px;
    background-color: #fff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
}

.gear__photo {
    display: flex;
    background: url("/assets/images/gear/1.png");
    width: 50%;
}

.gear__logo {
    width: 100%;
    max-width: 1440px;
    padding-right: 45px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.gear__bloc {
    padding-bottom: 40px;
}

.gear__icon{
    padding-right: 7px;
}

.gear__content {
    display: inline-flex;
    padding-right: 16px;
}

.gear__info {
    font-weight: 400;
    line-height: 12px;
    color: #fff;
}

/* CLIENTS */

.clients {
    width: 100%;
    height: 500px;
    max-width: 1440px;
    background-color: #000;
}

.clients__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    padding: 113px 0 15px 0;
}

.clients__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    text-align: center;
}

.clients__img {
    display: flex;
    justify-content: space-around;
    padding: 85px 182px;
}

.img_1 {
    width: 128px;
    height: 30px;
}

.img_2 {
    width: 128px;
    height: 78px;
}

.img_3 {
    width: 128px;
    height: 20px;
}

.img_4 {
    width: 128px;
    height: 36px;
}

.img_5 {
    width: 128px;
    height: 32px;
}

/* BOX */

.box {
    width: 100%;
    max-width: 1440px;
    height: 414px;
    background-color: #000;
}

.box__inner {
    padding-top: 100px;
}

.box__title {
    width: 571px;
    height: 84px;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    margin: 0 auto 15px;
}

.box__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}



.box__btn {
    display: flex;
    width: 143px;
    height: 42px;
    background-color: #fff;
    border-radius: 12px;
    margin: 22px auto;
    justify-content: center;
    align-items: center;
}

.box__btn:hover {
    transition-duration: 0.4s;
    background-color: #C0C0C0;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #C0C0C0;
}

/* FOOTER */

.footer {
    width: 100%;
    max-width: 1440px;
    height: 652px;
    background-color: #000;
}

.footer__bloc {
    margin: 0 120px;
    padding-top: 36px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;    
}

.footer__bloc {
    border-bottom: 2px solid #fff;
    width: 1168px;
}

/* .footer__bloc:not(:last-child) {
    border-bottom: none;
} */

.footer__inner-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.footer__inner-subtitle  {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.footer__box {
    margin-right: 50px;

}

.footer__item h4 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.footer__item p {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.subscr__title {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    color:#fff;
    padding-bottom: 20px;
}

.subscr__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.input {
    width: 458px;
    height: 52px;
    border-radius: 12px;
}

.copy__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.copy__icon {
    color:#fff;
    font-size: 20px;
}

.copy__icon i {
    padding-right: 20px;
}
